# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local

# Python & Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
backend/data/*.db
backend/saved_models/*

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

# Scratch
scratch/
